채점해볼 수 있는 페이크 데이터 생성

In [105]:
# 지명 데이터 생성
# 지명 문항은 PN1-PN19까지 총 19문항
# 지명 문항 데이터 불러오기
import pandas as pd
import requests
from io import BytesIO
url = "https://github.com/Byumin/peer/raw/refs/heads/item/item_info.xlsx"
response = requests.get(url)
response.raise_for_status()
df = pd.read_excel(BytesIO(response.content))
df
point_item = df[df['reporting']=='또래지명']
point_item

    Unnamed: 0      scale reporting    no                     item reverse
0            0     지각된 인기      또래지명   PN1                가장 인기가 있는       N
1            1     사회적 선호      또래지명   PN2              가장 같이 놀고 싶은       N
2            2     사회적 선호      또래지명   PN3              가장 같이 놀기 싫은       N
3            3    외현적 공격성      또래지명   PN4  문제를 일으키는/학교의 규칙을 지키지 않는       N
4            4    외현적 공격성      또래지명   PN5                   싸움을 하는       N
5            5    관계적 공격성      또래지명   PN6     험담을 하거나 다른 친구를 소외시키는       N
6            6    관계적 공격성      또래지명   PN7              나쁜 소문을 퍼뜨리는       N
7            7       친사회성      또래지명   PN8                      친절한       N
8            8       친사회성      또래지명   PN9                     협력적인       N
15          15  또래 괴롭힘 가해      또래지명  PN10        친구를 괴롭히는 행동을 시작하는       N
16          16  또래 괴롭힘 가해      또래지명  PN11     괴롭힘에 다른 사람을 참여하도록 하는       N
17          17  또래 괴롭힘 피해      또래지명  PN12       다른 아이들에게 자주 놀림을 받는       N
18          18  또래 괴롭힘 피해      또래지명  PN13      다른 아이들에게 맞거나 욕설을 듣는       N
72          72       친한친구      또래지명  PN14               가장 친한 친구는?       N
73          73       학습친구      또래지명  PN15             같이 공부하는 친구는?       N
74          74    협동학습 친구      또래지명  PN16      공부할 때 도움을 요청하는 친구는?       N
75          75    선망하는 친구      또래지명  PN17  함께 어울리거나, 친구가 되고싶은 사람은?       N
76          76       교사선호      또래지명  PN18               선생님과 잘 지내는       N
77          77      교사비선호      또래지명  PN19           선생님과 잘 지내지 못하는       N

In [106]:
# 자기보고 문항 데이터 불러오기
self_item = df[df['reporting']=='자기보고(5점 리커트)']
self_item

,Unnamed: 0,scale,reporting,no,item,reverse
9,9,인기추구,자기보고(5점 리커트),SR1,나는 인기있는 아이와 친구가 되고 싶다.,N
10,10,인기추구,자기보고(5점 리커트),SR2,나는 인기있는 무리에 속하고 싶다.,N
11,11,인기추구,자기보고(5점 리커트),SR3,나는 인기있는 사람이 되고 싶다.,N
12,12,인기상실불안,자기보고(5점 리커트),SR4,나는 인기없는 아이와는 친구가 되고 싶지 않다.,N
13,13,인기상실불안,자기보고(5점 리커트),SR5,나는 인기없는 무리에 속하고 싶지 않다.,N
...,...,...,...,...,...,...
121,121,또래관계 교사 민감성,자기보고(5점 리커트),TR6,이 아이는 친구를 괴롭히는 행동을 시작한다.,N
122,122,또래관계 교사 민감성,자기보고(5점 리커트),TR7,이 아이는 친구들에게 자주 놀림을 당한다.,N
123,123,또래관계 교사 민감성,자기보고(5점 리커트),TR8,이 아이는 친절하다.,N
124,124,또래관계 교사 민감성,자기보고(5점 리커트),TR9,이 아이는 학교에서 잘하려고 노력한다.,N
125,125,또래관계 교사 민감성,자기보고(5점 리커트),TR10,이 아이는 수업 시간에 기분이 좋아 보인다.,N

In [107]:
# 20명의 학생의 19문항의 응답 데이터 생성
# 1대1 서로가 서로를 랜덤하게 지목한 데이터 생성
import numpy as np
import pandas as pd
import random

# 학생 수 및 문항 수 정의
num_students = 20
num_questions = len(point_item)

# 학생 이름 생성
students = [f"student{i+1}" for i in range(num_students)]

# 1대 다수 또래지명 데이터 생성_동일한 학생을 중복 지목하지 않음
point_df = pd.DataFrame()

for i in range(num_questions) :
    np.random.seed(i)
    #pairings = np.random.permutation(students)
    point_item_no = [f'PN{i+1}']*num_students
    print(point_item_no)
    student_designation = students.copy()
    
    #가중치 생성하기 위해 난수
    rand_values = [x for x in np.round(np.random.rand(len(students)),2)]
    weights = [x/sum(rand_values) for x in rand_values]
    print(weights)
    
    student_nomination = random.choices(students, weights=weights, k=num_students)
    #student_nomination = random.sample(students, num_students)
    temp_df = pd.DataFrame({'point_item_no' : point_item_no, 'student_designation' : student_designation, 'student_nomination' : student_nomination})
    point_df = pd.concat([point_df, temp_df], axis=0, ignore_index=True)
    
point_df

['PN1', 'PN1', 'PN1', 'PN1', 'PN1', 'PN1', 'PN1', 'PN1', 'PN1', 'PN1', 'PN1', 'PN1', 'PN1', 'PN1', 'PN1', 'PN1', 'PN1', 'PN1', 'PN1', 'PN1']
[0.047291487532244214, 0.06190885640584696, 0.05159071367153913, 0.04643164230438523, 0.036113499570077395, 0.055889939810834066, 0.03783319002579537, 0.07652622527944972, 0.08254514187446262, 0.032674118658641456, 0.06792777300085986, 0.04557179707652624, 0.04901117798796217, 0.07996560619088566, 0.0060189165950129, 0.00773860705073087, 0.0017196904557179712, 0.0713671539122958, 0.06706792777300088, 0.07480653482373174]
['PN2', 'PN2', 'PN2', 'PN2', 'PN2', 'PN2', 'PN2', 'PN2', 'PN2', 'PN2', 'PN2', 'PN2', 'PN2', 'PN2', 'PN2', 'PN2', 'PN2', 'PN2', 'PN2', 'PN2']
[0.05698778833107192, 0.09769335142469472, 0.0, 0.0407055630936228, 0.0203527815468114, 0.01221166892808684, 0.02578018995929444, 0.04748982360922659, 0.0542740841248304, 0.07327001356852104, 0.05698778833107192, 0.09362279511533243, 0.0271370420624152, 0.11940298507462688, 0.00407055630936228, 0.09090909090909093, 0.05698778833107192, 0.07598371777476257, 0.01899592944369064, 0.0271370420624152]
['PN3', 'PN3', 'PN3', 'PN3', 'PN3', 'PN3', 'PN3', 'PN3', 'PN3', 'PN3', 'PN3', 'PN3', 'PN3', 'PN3', 'PN3', 'PN3', 'PN3', 'PN3', 'PN3', 'PN3']
[0.05098493626882967, 0.003476245654692932, 0.06373117033603709, 0.05098493626882967, 0.04866743916570105, 0.03823870220162225, 0.023174971031286216, 0.07184241019698726, 0.03476245654692932, 0.03128621089223639, 0.07184241019698726, 0.06141367323290847, 0.015063731170336039, 0.05909617612977985, 0.02085747392815759, 0.09154113557358055, 0.09849362688296641, 0.05677867902665122, 0.09849362688296641, 0.009269988412514486]
['PN4', 'PN4', 'PN4', 'PN4', 'PN4', 'PN4', 'PN4', 'PN4', 'PN4', 'PN4', 'PN4', 'PN4', 'PN4', 'PN4', 'PN4', 'PN4', 'PN4', 'PN4', 'PN4', 'PN4']
[0.06373117033603708, 0.08227114716106604, 0.033603707995365, 0.05909617612977983, 0.10312862108922363, 0.10428736964078794, 0.015063731170336036, 0.024333719582850518, 0.005793742757821552, 0.05098493626882966, 0.003476245654692931, 0.05330243337195828, 0.07531865585168018, 0.03244495944380069, 0.07879490150637311, 0.06836616454229431, 0.002317497103128621, 0.06488991888760139, 0.03012746234067207, 0.048667439165701036]
['PN5', 'PN5', 'PN5', 'PN5', 'PN5', 'PN5', 'PN5', 'PN5', 'PN5', 'PN5', 'PN5', 'PN5', 'PN5', 'PN5', 'PN5', 'PN5', 'PN5', 'PN5', 'PN5', 'PN5']
[0.09006499535747446, 0.05106778087279481, 0.09006499535747446, 0.06592386258124419, 0.06499535747446611, 0.02042711234911792, 0.09099350046425256, 0.0009285051067780873, 0.023212627669452184, 0.039925719591457756, 0.07242339832869081, 0.018570102135561747, 0.07985143918291551, 0.09099350046425256, 0.014856081708449397, 0.055710306406685235, 0.0009285051067780873, 0.036211699164345405, 0.003714020427112349, 0.08913649025069638]
['PN6', 'PN6', 'PN6', 'PN6', 'PN6', 'PN6', 'PN6', 'PN6', 'PN6', 'PN6', 'PN6', 'PN6', 'PN6', 'PN6', 'PN6', 'PN6', 'PN6', 'PN6', 'PN6', 'PN6']
[0.022940563086548484, 0.09071949947862355, 0.021897810218978096, 0.09593326381647549, 0.0510948905109489, 0.06360792492179353, 0.0802919708029197, 0.05422314911366005, 0.03128258602711157, 0.019812304483837327, 0.008342022940563085, 0.07716371220020854, 0.04588112617309697, 0.01668404588112617, 0.09176225234619394, 0.028154327424400414, 0.04275286757038581, 0.03128258602711157, 0.0656934306569343, 0.060479666319082366]
['PN7', 'PN7', 'PN7', 'PN7', 'PN7', 'PN7', 'PN7', 'PN7', 'PN7', 'PN7', 'PN7', 'PN7', 'PN7', 'PN7', 'PN7', 'PN7', 'PN7', 'PN7', 'PN7', 'PN7']
[0.07705627705627704, 0.028571428571428567, 0.07099567099567097, 0.0034632034632034623, 0.009523809523809521, 0.05194805194805194, 0.04588744588744588, 0.036363636363636355, 0.029437229437229432, 0.05367965367965367, 0.038095238095238085, 0.06406926406926405, 0.04502164502164501, 0.0502164502164502, 0.056277056277056266, 0.0857142857142857, 0.07099567099567097, 0.035497835497835487, 0.07619047619047617, 0.07099567099567097]
['PN8', 'PN8', 'PN8', 'PN8', 'PN8', 'PN8', 'PN8', 'PN8', 'PN8', 'PN8', 'PN8', 'PN8', 'PN8', 'PN8', 'PN8', 'PN8', 'PN8', 'PN8', 'PN8', 'PN8']
[0.008316008316008316, 0.08108108108108109, 0.04573804573804574, 0.07484407484407485, 0.10187110187110188, 0.05613305613305614, 0.05197505197505198, 0.007276507276507278, 0.02806652806652807, 0.05197505197505198, 0.07068607068607069, 0.08316008316008316, 0.0395010395010395, 0.007276507276507278, 0.030145530145530147, 0.0945945945945946, 0.02182952182952183, 0.04677754677754678, 0.09667359667359669, 0.002079002079002079]
['PN9', 'PN9', 'PN9', 'PN9', 'PN9', 'PN9', 'PN9', 'PN9', 'PN9', 'PN9', 'PN9', 'PN9', 'PN9', 'PN9', 'PN9', 'PN9', 'PN9', 'PN9', 'PN9', 'PN9']
[0.08100558659217877, 0.09031657355679702, 0.08100558659217877, 0.049348230912476726, 0.021415270018621976, 0.000931098696461825, 0.04003724394785847, 0.037243947858473, 0.048417132216014895, 0.04469273743016759, 0.0521415270018622, 0.05027932960893855, 0.07076350093109869, 0.06610800744878957, 0.05772811918063315, 0.04003724394785847, 0.027001862197392923, 0.09031657355679702, 0.030726256983240226, 0.020484171322160148]
['PN10', 'PN10', 'PN10', 'PN10', 'PN10', 'PN10', 'PN10', 'PN10', 'PN10', 'PN10', 'PN10', 'PN10', 'PN10', 'PN10', 'PN10', 'PN10', 'PN10', 'PN10', 'PN10', 'PN10']
[0.001145475372279496, 0.0572737686139748, 0.0572737686139748, 0.014891179839633447, 0.016036655211912946, 0.02520045819014891, 0.04810996563573883, 0.0286368843069874, 0.009163802978235968, 0.040091638029782356, 0.019473081328751432, 0.10080183276059564, 0.10882016036655211, 0.004581901489117984, 0.08018327605956471, 0.06529209621993126, 0.10309278350515463, 0.07674684994272624, 0.06300114547537228, 0.08018327605956471]
['PN11', 'PN11', 'PN11', 'PN11', 'PN11', 'PN11', 'PN11', 'PN11', 'PN11', 'PN11', 'PN11', 'PN11', 'PN11', 'PN11', 'PN11', 'PN11', 'PN11', 'PN11', 'PN11', 'PN11']
[0.07461240310077519, 0.001937984496124031, 0.061046511627906974, 0.07267441860465117, 0.04844961240310077, 0.02131782945736434, 0.01937984496124031, 0.07364341085271317, 0.016472868217054265, 0.00872093023255814, 0.06686046511627906, 0.09205426356589147, 0.0, 0.04941860465116279, 0.07848837209302326, 0.05910852713178294, 0.06976744186046512, 0.028100775193798447, 0.08914728682170543, 0.0687984496124031]
['PN12', 'PN12', 'PN12', 'PN12', 'PN12', 'PN12', 'PN12', 'PN12', 'PN12', 'PN12', 'PN12', 'PN12', 'PN12', 'PN12', 'PN12', 'PN12', 'PN12', 'PN12', 'PN12', 'PN12']
[0.020954598370197905, 0.002328288707799767, 0.05355064027939465, 0.08381839348079162, 0.04889406286379511, 0.0570430733410943, 0.0011641443538998836, 0.0570430733410943, 0.10942956926658905, 0.0989522700814901, 0.08498253783469151, 0.01280558789289872, 0.10360884749708964, 0.10011641443538999, 0.019790454016298024, 0.07334109429569267, 0.002328288707799767, 0.013969732246798603, 0.037252619324796274, 0.018626309662398137]
['PN13', 'PN13', 'PN13', 'PN13', 'PN13', 'PN13', 'PN13', 'PN13', 'PN13', 'PN13', 'PN13', 'PN13', 'PN13', 'PN13', 'PN13', 'PN13', 'PN13', 'PN13', 'PN13', 'PN13']
[0.015290519877675839, 0.07543323139653414, 0.026503567787971458, 0.05402650356778797, 0.001019367991845056, 0.09378185524974515, 0.09174311926605504, 0.003058103975535168, 0.09785932721712537, 0.014271151885830785, 0.02854230377166157, 0.06218144750254841, 0.09582059123343525, 0.08664627930682976, 0.0, 0.053007135575942915, 0.05606523955147809, 0.04994903160040774, 0.07849133537206932, 0.016309887869520895]
['PN14', 'PN14', 'PN14', 'PN14', 'PN14', 'PN14', 'PN14', 'PN14', 'PN14', 'PN14', 'PN14', 'PN14', 'PN14', 'PN14', 'PN14', 'PN14', 'PN14', 'PN14', 'PN14', 'PN14']
[0.07594936708860762, 0.023369036027263885, 0.07984420642648493, 0.09444985394352487, 0.09444985394352487, 0.043816942551119786, 0.05939629990262904, 0.07594936708860762, 0.062317429406037024, 0.07010710808179164, 0.003894839337877314, 0.029211295034079855, 0.005842259006815971, 0.08373904576436225, 0.03602726387536515, 0.06621226874391434, 0.02531645569620254, 0.0340798442064265, 0.0009737098344693285, 0.03505355404089582]
['PN15', 'PN15', 'PN15', 'PN15', 'PN15', 'PN15', 'PN15', 'PN15', 'PN15', 'PN15', 'PN15', 'PN15', 'PN15', 'PN15', 'PN15', 'PN15', 'PN15', 'PN15', 'PN15', 'PN15']
[0.048991354466858796, 0.0739673390970221, 0.0835734870317003, 0.0009606147934678196, 0.029779058597502406, 0.09221902017291067, 0.048991354466858796, 0.030739673390970227, 0.05187319884726226, 0.02113352545629203, 0.07780979827089339, 0.032660902977905866, 0.05187319884726226, 0.0009606147934678196, 0.06436119116234391, 0.02017291066282421, 0.08933717579250722, 0.035542747358309326, 0.07204610951008647, 0.07300672430355429]
['PN16', 'PN16', 'PN16', 'PN16', 'PN16', 'PN16', 'PN16', 'PN16', 'PN16', 'PN16', 'PN16', 'PN16', 'PN16', 'PN16', 'PN16', 'PN16', 'PN16', 'PN16', 'PN16', 'PN16']
[0.1137884872824632, 0.024096385542168676, 0.006693440428380189, 0.04819277108433735, 0.03748326639892906, 0.07095046854083, 0.04149933065595717, 0.04016064257028113, 0.014725568942436415, 0.033467202141900944, 0.12315930388219547, 0.034805890227576984, 0.0963855421686747, 0.11646586345381528, 0.10843373493975907, 0.02811244979919679, 0.022757697456492643, 0.006693440428380189, 0.005354752342704151, 0.026773761713520756]
['PN17', 'PN17', 'PN17', 'PN17', 'PN17', 'PN17', 'PN17', 'PN17', 'PN17', 'PN17', 'PN17', 'PN17', 'PN17', 'PN17', 'PN17', 'PN17', 'PN17', 'PN17', 'PN17', 'PN17']
[0.02868318122555411, 0.06779661016949153, 0.07170795306388528, 0.00651890482398957, 0.0469361147327249, 0.02868318122555411, 0.08996088657105605, 0.020860495436766623, 0.009126466753585399, 0.12255541069100391, 0.07301173402868319, 0.010430247718383311, 0.0938722294654498, 0.020860495436766623, 0.03259452411994785, 0.0378096479791395, 0.09126466753585397, 0.05997392438070404, 0.02868318122555411, 0.05867014341590613]
['PN18', 'PN18', 'PN18', 'PN18', 'PN18', 'PN18', 'PN18', 'PN18', 'PN18', 'PN18', 'PN18', 'PN18', 'PN18', 'PN18', 'PN18', 'PN18', 'PN18', 'PN18', 'PN18', 'PN18']
[0.03049421661409043, 0.05573080967402735, 0.019978969505783387, 0.007360672975814933, 0.08307045215562567, 0.0694006309148265, 0.06729758149316509, 0.06098843322818086, 0.004206098843322818, 0.03785488958990536, 0.09989484752891693, 0.006309148264984227, 0.0904311251314406, 0.092534174553102, 0.005257623554153523, 0.0683491062039958, 0.05783385909568876, 0.06309148264984227, 0.050473186119873815, 0.02944269190325973]
['PN19', 'PN19', 'PN19', 'PN19', 'PN19', 'PN19', 'PN19', 'PN19', 'PN19', 'PN19', 'PN19', 'PN19', 'PN19', 'PN19', 'PN19', 'PN19', 'PN19', 'PN19', 'PN19', 'PN19']
[0.059963099630996324, 0.047047970479704805, 0.08118081180811809, 0.016605166051660517, 0.07841328413284133, 0.06918819188191883, 0.06180811808118083, 0.09132841328413285, 0.02398523985239853, 0.002767527675276753, 0.05904059040590407, 0.07841328413284133, 0.06826568265682657, 0.0018450184501845022, 0.010147601476014761, 0.02767527675276753, 0.06365313653136533, 0.07933579335793359, 0.018450184501845022, 0.060885608856088576]

    point_item_no student_designation student_nomination
0             PN1            student1          student15
1             PN1            student2          student18
2             PN1            student3           student9
3             PN1            student4          student12
4             PN1            student5          student18
..            ...                 ...                ...
375          PN19           student16           student5
376          PN19           student17           student7
377          PN19           student18          student20
378          PN19           student19          student11
379          PN19           student20           student5

[380 rows x 3 columns]

In [111]:
# 제대로 나왔는지 확인
point_df.to_excel('point_df.xlsx', index=False)

PermissionError: [Errno 13] Permission denied: 'point_df.xlsx'

In [113]:
# 자기보고 응답 데이터 생성
# 10명의 학생

num_students = 20
num_questions = len(self_item)

# 학생 이름 생성
students = [f"student{i+1}" for i in range(num_students)]

# 문항 응답 데이터 생성 (1~5점 랜덤 부여)
responses = np.random.randint(1, 6, size=(num_students, num_questions))
responses = pd.DataFrame(responses, columns=self_item['no'].to_list())

students_df = pd.DataFrame({'students' : students})
self_df = pd.concat([students_df, responses], axis=1, ignore_index=False)
self_df

,students,SR1,SR2,SR3,SR4,SR5,SR6,SR7,SR8,SR9,...,TSR23,TR2,TR3,TR4,TR5,TR6,TR7,TR8,TR9,TR10
0,student1,2,3,3,3,4,4,3,5,4,...,1,2,3,2,3,2,2,4,2,1
1,student2,4,4,2,4,3,3,1,4,3,...,2,3,1,5,3,2,3,1,3,3
2,student3,4,2,3,5,3,1,1,5,3,...,4,3,1,5,1,4,3,1,3,1
3,student4,4,4,1,2,3,5,3,1,5,...,2,1,5,1,3,4,3,5,5,1
4,student5,3,5,3,5,1,4,2,1,4,...,4,1,2,4,4,1,2,1,2,5
5,student6,2,4,2,3,5,4,5,5,4,...,3,4,3,1,2,4,5,4,2,4
6,student7,5,4,2,1,2,2,1,2,3,...,1,3,2,2,3,2,3,3,2,4
7,student8,4,1,3,5,2,5,5,2,3,...,2,2,4,4,3,2,5,4,5,5
8,student9,1,5,1,5,4,3,2,3,2,...,2,3,5,1,1,4,2,2,2,3
9,student10,4,1,2,3,1,3,3,4,1,...,3,5,3,5,4,3,2,1,2,5
10,student11,1,3,4,4,4,5,3,2,2,...,2,4,2,2,5,2,2,5,2,2
11,student12,5,2,4,5,1,4,2,5,4,...,1,4,2,2,2,4,2,4,2,3
12,student13,2,2,4,1,2,4,3,5,2,...,3,1,3,4,3,4,5,3,4,1
13,student14,4,1,5,5,2,2,2,5,2,...,4,3,2,3,2,5,4,2,5,1
14,student15,5,5,5,2,1,3,5,2,1,...,4,2,1,1,3,1,1,3,5,2
15,student16,4,2,5,3,1,1,3,2,1,...,3,2,5,5,5,4,5,3,4,3
16,student17,1,1,1,2,2,2,2,2,2,...,1,5,3,1,2,1,5,5,1,5
17,student18,1,3,2,4,4,5,5,1,3,...,1,3,4,2,1,5,4,2,4,4
18,student19,2,2,2,1,3,5,5,2,5,...,4,5,2,1,2,1,1,3,2,5
19,student20,1,3,4,5,1,4,2,3,4,...,1,5,5,5,1,3,4,3,5,1

In [115]:
# 제대로 나왔는지 확인
self_df.to_excel('self_df.xlsx', index=False)

In [146]:
# 1 대 다수 지명 데이터 생성
# 20명의 학생의 19문항의 응답 데이터 생성
import numpy as np
import pandas as pd
import random

# 학생 수 및 문항 수 정의
num_students = 20
num_questions = len(point_item)

# 학생 이름 생성
students = [f"student{num+1}" for num in range(num_students)]

# 1대 다수 또래지명 데이터 생성_동일한 학생을 중복 지목하지 않음
point_df = pd.DataFrame()

for i in range(num_questions) :
    df = pd.DataFrame()
    for student in students :
        # 학생이 지목할 명수 생성, 정규분포 활용해 (k<학생수), 1 이상 지명
        #k = max(1, min(int(np.random.normal(loc=1, scale=1, size=1)[0]), num_students-1))
        k = max(1, np.random.poisson(lam=1, size=1)[0])
        
        # 학생이 k명을 본인을 제외한 학생(n-1) 중 지목할 변수 (k<n-1)
        able_students = [stu for stu in students if stu!=student]
        rand_values = [x for x in np.round(np.random.rand(len(able_students)),2)]
        weights = [x/sum(rand_values) for x in rand_values] # 합이 1인
        print(k)
        student_nomination = np.random.choice(able_students, p=weights, size=k, replace=False).tolist()

        temp_df = pd.DataFrame({'point_item_no' : [f'PN{i+1}']*k, 'student_designation' : [student]*k, 'student_nomination' : student_nomination})
        df = pd.concat([df, temp_df], axis=0, ignore_index=True)
    point_df = pd.concat([point_df, df], axis=0, ignore_index=True)
point_df

2
2
2
2
1
2
1
1
2
1
1
2
1
1
1
1
2
1
1
1
1
4
1
1
2
1
1
2
1
1
1
1
1
1
1
3
1
1
2
1
1
2
1
1
1
3
1
1
4
3
1
1
2
1
1
1
2
1
3
1
1
1
1
1
1
1
1
1
1
1
1
1
2
1
1
1
3
3
1
1
1
1
1
4
1
3
1
1
2
1
2
1
2
2
1
1
2
2
1
1
1
1
1
1
1
1
1
1
1
3
1
2
3
1
1
3
1
1
1
2
2
1
5
2
1
1
1
1
1
2
1
1
1
1
4
1
1
2
1
1
1
2
2
1
1
1
1
1
1
2
1
1
1
3
1
1
1
1
1
2
1
1
1
1
1
1
2
1
2
1
1
1
3
1
3
1
1
1
1
2
1
1
1
1
1
1
1
1
1
1
3
1
1
2
1
1
1
1
1
1
1
1
1
1
1
1
1
2
2
3
2
3
1
2
2
1
3
2
1
1
1
1
1
1
2
1
2
2
1
1
1
1
2
1
1
1
1
1
2
1
1
1
1
1
1
3
1
2
1
3
1
1
1
1
1
1
2
2
2
1
1
1
3
1
2
4
1
1
1
1
1
1
1
2
1
1
1
1
2
1
1
1
1
4
1
1
1
1
1
1
1
1
1
3
1
1
1
2
1
1
1
1
1
3
1
1
2
1
2
1
1
1
1
1
1
1
1
1
1
1
2
1
1
3
1
1
1
1
1
4
3
1
1
1
3
1
1
5
1
1
1
1
1
1
1
1
1
1
1
1
1
1
2
1
1
3
1
1
3
1
1
1
1
2
2
1
1
1
1
1
3
1
2
1
1
2
1
1
2
3

    point_item_no student_designation student_nomination
0             PN1            student1          student16
1             PN1            student1          student18
2             PN1            student2           student7
3             PN1            student2          student10
4             PN1            student3          student12
..            ...                 ...                ...
525          PN19           student19           student7
526          PN19           student19          student17
527          PN19           student20          student15
528          PN19           student20           student2
529          PN19           student20          student10

[530 rows x 3 columns]

In [148]:
# 제대로 나왔는지 확인
point_df.to_excel('point_df.xlsx', index=False)