채점해볼 수 있는 페이크 데이터 생성

In [6]:
# 지명 데이터 생성
# 지명 문항은 PN1-PN19까지 총 19문항
# 지명 문항 데이터 불러오기
import pandas as pd
import requests
from io import BytesIO
url = "https://github.com/Byumin/peer/raw/refs/heads/item/item_info.xlsx"
response = requests.get(url)
response.raise_for_status()
df = pd.read_excel(BytesIO(response.content))
df
point_item = df[df['reporting']=='또래지명']
point_item

    Unnamed: 0      scale reporting    no                     item reverse
0            0     지각된 인기      또래지명   PN1                가장 인기가 있는       N
1            1     사회적 선호      또래지명   PN2              가장 같이 놀고 싶은       N
2            2     사회적 선호      또래지명   PN3              가장 같이 놀기 싫은       N
3            3    외현적 공격성      또래지명   PN4  문제를 일으키는/학교의 규칙을 지키지 않는       N
4            4    외현적 공격성      또래지명   PN5                   싸움을 하는       N
5            5    관계적 공격성      또래지명   PN6     험담을 하거나 다른 친구를 소외시키는       N
6            6    관계적 공격성      또래지명   PN7              나쁜 소문을 퍼뜨리는       N
7            7       친사회성      또래지명   PN8                      친절한       N
8            8       친사회성      또래지명   PN9                     협력적인       N
15          15  또래 괴롭힘 가해      또래지명  PN10        친구를 괴롭히는 행동을 시작하는       N
16          16  또래 괴롭힘 가해      또래지명  PN11     괴롭힘에 다른 사람을 참여하도록 하는       N
17          17  또래 괴롭힘 피해      또래지명  PN12       다른 아이들에게 자주 놀림을 받는       N
18          18  또래 괴롭힘 피해      또래지명  PN13      다른 아이들에게 맞거나 욕설을 듣는       N
72          72       친한친구      또래지명  PN14               가장 친한 친구는?       N
73          73       학습친구      또래지명  PN15             같이 공부하는 친구는?       N
74          74    협동학습 친구      또래지명  PN16      공부할 때 도움을 요청하는 친구는?       N
75          75    선망하는 친구      또래지명  PN17  함께 어울리거나, 친구가 되고싶은 사람은?       N
76          76       교사선호      또래지명  PN18               선생님과 잘 지내는       N
77          77      교사비선호      또래지명  PN19           선생님과 잘 지내지 못하는       N

In [7]:
# 자기보고 문항 데이터 불러오기
self_item = df[df['reporting']=='자기보고(5점 리커트)']
self_item

,Unnamed: 0,scale,reporting,no,item,reverse
9,9,인기추구,자기보고(5점 리커트),SR1,나는 인기있는 아이와 친구가 되고 싶다.,N
10,10,인기추구,자기보고(5점 리커트),SR2,나는 인기있는 무리에 속하고 싶다.,N
11,11,인기추구,자기보고(5점 리커트),SR3,나는 인기있는 사람이 되고 싶다.,N
12,12,인기상실불안,자기보고(5점 리커트),SR4,나는 인기없는 아이와는 친구가 되고 싶지 않다.,N
13,13,인기상실불안,자기보고(5점 리커트),SR5,나는 인기없는 무리에 속하고 싶지 않다.,N
...,...,...,...,...,...,...
121,121,또래관계 교사 민감성,자기보고(5점 리커트),TR6,이 아이는 친구를 괴롭히는 행동을 시작한다.,N
122,122,또래관계 교사 민감성,자기보고(5점 리커트),TR7,이 아이는 친구들에게 자주 놀림을 당한다.,N
123,123,또래관계 교사 민감성,자기보고(5점 리커트),TR8,이 아이는 친절하다.,N
124,124,또래관계 교사 민감성,자기보고(5점 리커트),TR9,이 아이는 학교에서 잘하려고 노력한다.,N
125,125,또래관계 교사 민감성,자기보고(5점 리커트),TR10,이 아이는 수업 시간에 기분이 좋아 보인다.,N

In [12]:
# 10명의 학생의 19문항의 응답 데이터 생성
# 1대1 서로가 서로를 랜덤하게 지목한 데이터 생성
import numpy as np
import pandas as pd
import random

# 학생 수 및 문항 수 정의
num_students = 10
num_questions = len(point_item)

# 학생 이름 생성
students = [f"student{i+1}" for i in range(num_students)]

# 1대1 또래지명 데이터 생성_동일한 학생을 중복 지목하지 않음
point_df = pd.DataFrame()

for i in range(num_questions) :
    np.random.seed(i)
    pairings = np.random.permutation(students)
    point_item_no = [f'PN{i+1}']*10
    student_designation = students.copy()
    student_nomination = random.sample(students, num_students)
    temp_df = pd.DataFrame({'point_item_no' : point_item_no, 'student_designation' : student_designation, 'student_nomination' : student_nomination})
    point_df = pd.concat([point_df, temp_df], axis=0, ignore_index=True)

point_df

    point_item_no student_designation student_nomination
0             PN1            student1           student8
1             PN1            student2          student10
2             PN1            student3           student3
3             PN1            student4           student2
4             PN1            student5           student1
..            ...                 ...                ...
185          PN19            student6           student9
186          PN19            student7           student4
187          PN19            student8          student10
188          PN19            student9           student7
189          PN19           student10           student1

[190 rows x 3 columns]

In [14]:
# 제대로 나왔는지 확인
point_df.to_excel('point_df.xlsx', index=False)

In [121]:
# 자기보고 응답 데이터 생성
# 10명의 학생

num_students = 10
num_questions = len(self_item)

# 학생 이름 생성
students = [f"student{i+1}" for i in range(num_students)]

# 문항 응답 데이터 생성 (1~5점 랜덤 부여)
responses = np.random.randint(1, 6, size=(num_students, num_questions))
responses = pd.DataFrame(responses, columns=self_item['no'].to_list())

students_df = pd.DataFrame({'students' : students})
self_df = pd.concat([students_df, responses], axis=1, ignore_index=False)
self_df

,students,SR1,SR2,SR3,SR4,SR5,SR6,SR7,SR8,SR9,...,TSR23,TR2,TR3,TR4,TR5,TR6,TR7,TR8,TR9,TR10
0,student1,4,2,5,1,2,5,1,2,1,...,1,2,5,4,3,4,5,1,1,3
1,student2,2,5,4,5,4,5,4,3,4,...,1,2,5,1,3,2,4,2,4,4
2,student3,1,1,3,4,4,5,2,5,5,...,3,2,2,3,5,4,4,1,5,2
3,student4,5,3,2,4,2,5,2,5,2,...,1,3,5,5,1,5,2,5,4,1
4,student5,4,5,4,4,1,5,5,1,2,...,5,4,5,2,3,2,1,3,1,1
5,student6,5,3,1,2,5,5,2,3,3,...,2,4,5,5,3,5,1,1,1,1
6,student7,3,3,1,5,3,5,2,3,4,...,2,2,3,2,4,5,2,2,2,3
7,student8,2,4,5,5,3,1,3,3,3,...,1,4,4,4,2,1,5,1,4,2
8,student9,3,4,3,4,4,5,4,3,5,...,3,3,2,1,3,1,3,4,4,5
9,student10,1,4,2,4,5,4,3,3,2,...,5,4,4,5,2,4,4,3,5,1

In [123]:
# 제대로 나왔는지 확인
self_df.to_excel('self_df.xlsx', index=False)