Rsna 패키지를 활용해 친구관계 행렬의 밀도 계산  
기본적으로 네트워크 밀도는 다음과 같이 산출됨
### $ \frac{친구지명수}{최대로 가능한 지명수} $  

여기서 추가로 또래지명 네트워크는 방향성을 가지고 있는 directed edge이며  
그렇기 때문에 directed network라고 할 수 있음  

이런 경우 최대 엣지 즉, 최대로 가능한 지명수 계산 방법이 달라지게 됨

방향 네트워크의 최대 엣지 수 : N * (N-1)
***
우선 또래지명 데이터를 불러와서 행렬화

In [151]:
# 또래 지명 응답값 불러오기
import pandas as pd
import requests
from io import BytesIO
url = "https://github.com/Byumin/peer/raw/refs/heads/scoring/point_df.xlsx"
response = requests.get(url)
response.raise_for_status()
point_df = pd.read_excel(BytesIO(response.content))
point_df

    point_item_no student_designation student_nomination
0             PN1            student1          student16
1             PN1            student1          student18
2             PN1            student2           student7
3             PN1            student2          student10
4             PN1            student3          student12
..            ...                 ...                ...
525          PN19           student19           student7
526          PN19           student19          student17
527          PN19           student20          student15
528          PN19           student20           student2
529          PN19           student20          student10

[530 rows x 3 columns]

In [152]:
point_pn14_df = point_df[point_df['point_item_no']=='PN14']

In [153]:
students = point_df['student_designation'].unique()

In [154]:
students

array(['student1', 'student2', 'student3', 'student4', 'student5',
       'student6', 'student7', 'student8', 'student9', 'student10',
       'student11', 'student12', 'student13', 'student14', 'student15',
       'student16', 'student17', 'student18', 'student19', 'student20'],
      dtype=object)

In [156]:
point_pn14_df

    point_item_no student_designation student_nomination
364          PN14            student1           student2
365          PN14            student2          student20
366          PN14            student3           student5
367          PN14            student3           student7
368          PN14            student3          student18
369          PN14            student4           student9
370          PN14            student5          student13
371          PN14            student5          student15
372          PN14            student6          student18
373          PN14            student6          student12
374          PN14            student6          student19
375          PN14            student6           student2
376          PN14            student7          student16
377          PN14            student8          student13
378          PN14            student9           student2
379          PN14           student10           student3
380          PN14           student11          student15
381          PN14           student12           student3
382          PN14           student13          student20
383          PN14           student14          student12
384          PN14           student14          student18
385          PN14           student15          student11
386          PN14           student16           student2
387          PN14           student17           student5
388          PN14           student18          student17
389          PN14           student19           student1
390          PN14           student19           student2
391          PN14           student20           student4

In [161]:
students = point_df['student_designation'].unique()
num = len(students)
zero_matrix = np.zeros((num, num), dtype=int)
point_matrix = pd.DataFrame(zero_matrix, index=students, columns=students)
for select in students : # 선택하는 학생
    selected_df=point_pn14_df[point_pn14_df['student_designation']==select]
    print(selected_df)
    for selected in list(selected_df['student_nomination']) : # 선택당하는 학생
        print('지목한 학생 :', select, '지목당한 학생 :', selected)
        point_matrix.loc[select, selected]=1
point_matrix

    point_item_no student_designation student_nomination
364          PN14            student1           student2
지목한 학생 : student1 지목당한 학생 : student2
    point_item_no student_designation student_nomination
365          PN14            student2          student20
지목한 학생 : student2 지목당한 학생 : student20
    point_item_no student_designation student_nomination
366          PN14            student3           student5
367          PN14            student3           student7
368          PN14            student3          student18
지목한 학생 : student3 지목당한 학생 : student5
지목한 학생 : student3 지목당한 학생 : student7
지목한 학생 : student3 지목당한 학생 : student18
    point_item_no student_designation student_nomination
369          PN14            student4           student9
지목한 학생 : student4 지목당한 학생 : student9
    point_item_no student_designation student_nomination
370          PN14            student5          student13
371          PN14            student5          student15
지목한 학생 : student5 지목당한 학생 : student13
지목한 학생 : student5 지목당한 학생 : student15
    point_item_no student_designation student_nomination
372          PN14            student6          student18
373          PN14            student6          student12
374          PN14            student6          student19
375          PN14            student6           student2
지목한 학생 : student6 지목당한 학생 : student18
지목한 학생 : student6 지목당한 학생 : student12
지목한 학생 : student6 지목당한 학생 : student19
지목한 학생 : student6 지목당한 학생 : student2
    point_item_no student_designation student_nomination
376          PN14            student7          student16
지목한 학생 : student7 지목당한 학생 : student16
    point_item_no student_designation student_nomination
377          PN14            student8          student13
지목한 학생 : student8 지목당한 학생 : student13
    point_item_no student_designation student_nomination
378          PN14            student9           student2
지목한 학생 : student9 지목당한 학생 : student2
    point_item_no student_designation student_nomination
379          PN14           student10           student3
지목한 학생 : student10 지목당한 학생 : student3
    point_item_no student_designation student_nomination
380          PN14           student11          student15
지목한 학생 : student11 지목당한 학생 : student15
    point_item_no student_designation student_nomination
381          PN14           student12           student3
지목한 학생 : student12 지목당한 학생 : student3
    point_item_no student_designation student_nomination
382          PN14           student13          student20
지목한 학생 : student13 지목당한 학생 : student20
    point_item_no student_designation student_nomination
383          PN14           student14          student12
384          PN14           student14          student18
지목한 학생 : student14 지목당한 학생 : student12
지목한 학생 : student14 지목당한 학생 : student18
    point_item_no student_designation student_nomination
385          PN14           student15          student11
지목한 학생 : student15 지목당한 학생 : student11
    point_item_no student_designation student_nomination
386          PN14           student16           student2
지목한 학생 : student16 지목당한 학생 : student2
    point_item_no student_designation student_nomination
387          PN14           student17           student5
지목한 학생 : student17 지목당한 학생 : student5
    point_item_no student_designation student_nomination
388          PN14           student18          student17
지목한 학생 : student18 지목당한 학생 : student17
    point_item_no student_designation student_nomination
389          PN14           student19           student1
390          PN14           student19           student2
지목한 학생 : student19 지목당한 학생 : student1
지목한 학생 : student19 지목당한 학생 : student2
    point_item_no student_designation student_nomination
391          PN14           student20           student4
지목한 학생 : student20 지목당한 학생 : student4

,student1,student2,student3,student4,student5,student6,student7,student8,student9,student10,student11,student12,student13,student14,student15,student16,student17,student18,student19,student20
student1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
student2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
student3,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
student4,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
student5,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0
student6,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,0
student7,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
student8,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
student9,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
student10,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
student11,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
student12,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
student13,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
student14,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0
student15,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
student16,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
student17,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
student18,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
student19,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
student20,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

행렬 밀도 산출 함수

In [166]:
# 최대 지목 가능한 수 계산
# 방향 네트워크의 최대 엣지 수 : N * (N-1)

def max_edges(point_matrix) :
    n=len(point_matrix)
    max_edges=n*(n-1)
    return max_edges

In [200]:
# 지목한 수 계산
# 방향 네트워크의 엣지 수

def edges(point_matrix) :
    point_array = np.array(point_matrix)
    edges = np.sum(point_array)
    return edges

In [210]:
# 방향 네트워크 밀도 구하는 함수

def density(point_matrix) :
    a = edges(point_matrix)
    b = max_edges(point_matrix)
    density = round(a/b,2)
    return density

In [212]:
density(point_matrix)

0.07

저자측 노션 내용 :  
Rsna 패키지를 활용해서, 친구관계 행렬의 집중화도  
(친구관계 지명의 표준편차 계산
***

해석하기 위해 다음과 같이 살펴봄  
집중화도 : 일부 학생에 지명이 집중되는 정도(중심성)  
예를 들어 어떤 학생이 대부분의 지명을 받았다면 집중화도가 높고, 지명이 골고루 분포되어 있다면 집중화도가 낮다고 할 수 있음

In [241]:
def centralization(point_matrix) :
    point_array=np.array(point_matrix)
    seleted_count=point_array.sum(axis=0)
    centralization=round(np.std(seleted_count),2)
    return centralization

In [243]:
centralization(point_matrix)

1.16

저자측 자료 내용은 다음과 같다.  

공격성 규범 척도  
또래지명으로 측정된 공격성*친구관계 가중치의 학급평균치
***

해석하기 위해 다음과 같이 탐색하였다.  

공격성 규범이란?  
공격성이 학습 내에서 얼마나 용인되고, 친구관계에서 어떻게 작용하는지 나타내는 값  
즉, 공격적인 행동을 보이는 학생들이 학급 내에서 어떤 사회적 위치를 가지는지를 평가하는 것으로  
이 값이 높다는 것은 공격적인 학생들이 학급 내에서 사회적으로 더 인정받거나 영향력이 있다는 의미일 수 있음.
***

산출식(확인 필요)   
### $ \frac{SUM([학생별 공격적 지명 횟수 리스트] * [학생별 친한 친구 지명 횟수 리스트])}{학생 수} $

In [ ]:
def aggressive_count(point_df, item):
    item='|'.join(item)
    point_agg_df = point_df[point_df['point_item_no'].str.fullmatch(item)]
    students = point_agg_df['student_designation'].unique()

In [ ]:
students = point_df['student_designation'].unique()
num = len(students)
zero_matrix = np.zeros((num, num), dtype=int)
point_matrix = pd.DataFrame(zero_matrix, index=students, columns=students)
for select in students : # 선택하는 학생
    selected_df=point_pn14_df[point_pn14_df['student_designation']==select]
    print(selected_df)
    for selected in list(selected_df['student_nomination']) : # 선택당하는 학생
        print('지목한 학생 :', select, '지목당한 학생 :', selected)
        point_matrix.loc[select, selected]=1
point_matrix